In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [8]:
df = pd.read_csv("../Churn_Modelling.csv")

In [9]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [10]:
del df['RowNumber']
del df['CustomerId']
del df['Surname']

In [11]:
label_enc_gender = LabelEncoder()
df['Gender'] = label_enc_gender.fit_transform(df['Gender'])
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [12]:
onehot_enc_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_enc_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_enc_geo.get_feature_names_out(['Geography']))

In [13]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
## Combine OH encoded columns with original data

df = pd.concat([df.drop('Geography',axis=1), geo_encoded_df],axis=1)
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [15]:
# Split the data into features and target

X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [16]:
# train-test-split the data

X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the feautes
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
with open('label_enc_gender.pkl','wb') as file:
    pickle.dump(label_enc_gender, file)


with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_enc_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regressionn

In [18]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
## Build the model

model = Sequential([
    Dense(64, activation='relu',input_shape=(X_train.shape[1],)), # HL1 connected with input layer
    Dense(32, activation='relu'), # HL2
    Dense(1)  # output layer for regression
]
)

## Compile the model 

model.compile(optimizer ='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

c:\Codes\Practice\Deep Learning\DL Project - ANN\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime 

# Setup tensorboard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%d/%m/%Y-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [21]:
## set up early stopping

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [22]:
# Train the model 

history = model.fit(
    X_train, y_train, 
    validation_data = (X_test, y_test), 
    epochs=100,
    callbacks =[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 100213.5000 - mae: 100213.5000 - val_loss: 98422.6250 - val_mae: 98422.6250
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 98990.4688 - mae: 98990.4688 - val_loss: 96274.2422 - val_mae: 96274.2422
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 96970.9531 - mae: 96970.9531 - val_loss: 90925.8125 - val_mae: 90925.8125
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 91135.8047 - mae: 91135.8047 - val_loss: 82336.1250 - val_mae: 82336.1250
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 81740.2109 - mae: 81740.2109 - val_loss: 72124.6250 - val_mae: 72124.6250
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 70458.5156 - mae: 70458.5156 - val_loss: 62829.8984 - val_mae: 62829.8984
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 62157.8125 - mae: 62157.8125 - val_loss: 56233.1367 - val_mae: 56233.1367
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 55264.3594 - mae: 55264.3594 - val_loss: 52607.0859 - val_mae: 52607.0859
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 52587.1914 - mae: 52587.1914 - val_loss: 51316.0781 - val_mae: 51316.0781
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50792.8906 - mae: 50792.8906 - val_loss: 50971.1172 - val_mae: 50971.1172
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50820.6719 - mae: 50820.6719 - val_loss: 50851.8789 - val_mae: 50851.8789
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50394.4648 - mae: 50394.4648 - val_loss: 50795.4727 - val_mae: 50795.4727
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50381.2891 - mae: 50381.2891 - val_loss: 50758.3789 - val_mae: 50758.3789
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50045.6523 - mae: 50045.6523 - val_loss: 50711.2188 - val_mae: 50711.2188
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50055.6211 - mae: 50055.6211 - val_loss: 50679.4883 - val_mae: 50679.4883
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50149.7031 - mae: 50149.7031 - val_loss: 50635.7539 - val_mae: 50635.7539
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49655.0352 - mae: 49655.0352 - val_loss: 50605.2656 - val_mae: 50605.2656
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50257.4414 - mae: 50257.4414 - val_loss: 50579.5625 - val_mae: 50579.5625
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49960.7227 - mae: 49960.7227 - val_loss: 50552.8125 - val_mae: 50552.8125
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49981.8125 - mae: 49981.8125 - val_loss: 50542.7188 - val_mae: 50542.7188
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50482.8906 - mae: 50482.8906 - val_loss: 50520.4102 - val_mae: 50520.4102
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49417.4727 - mae: 49417.4727 - val_loss: 50495.9961 - val_mae: 50495.9961
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50003.8242 - mae: 50003.8242 - val_loss: 50488.8789 - val_mae: 50488.8789
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49843.4414 - mae: 49843.4414 - val_loss: 50479.5508 - val_mae: 50479.5508
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49659.1562 - mae: 49659.1562 - val_loss: 50452.7734 - val_mae: 50452.7734
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49598.5469 - mae: 49598.5469 - val_loss: 50450.9297 - val_mae: 50450.9297
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50287.5742 - mae: 50287.5742 - val_loss: 50450.4141 - val_mae: 50450.4141
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49870.9297 - mae: 49870.9297 - val_loss: 50443.1250 - val_mae: 50443.1250
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49574.6836 - mae: 49574.6836 - val_loss: 50434.3945 - val_mae: 50434.3945
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49360.6016 - mae: 49360.6016 - val_loss: 50432.9023 - val_mae: 50432.9023
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49425.7812 - mae: 49425.7812 - val_loss: 50415.6836 - val_mae: 50415.6836
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49684.4766 - mae: 49684.4766 - val_loss: 50408.8125 - val_mae: 50408.8125
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50307.7500 - mae: 50307.7500 - val_loss: 50404.6133 - val_mae: 50404.6133
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49724.1758 - mae: 49724.1758 - val_loss: 50411.1211 - val_mae: 50411.1211
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49948.0273 - mae: 49948.0273 - val_loss: 50409.2578 - val_mae: 50409.2578
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 49587.4062 - mae: 49587.4062 - val_loss: 50409.5469 - val_mae: 50409.5469
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49258.2148 - mae: 49258.2148 - val_loss: 50398.7070 - val_mae: 50398.7070
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49260.6445 - mae: 49260.6445 - val_loss: 50392.6211 - val_mae: 50392.6211
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49691.8398 - mae: 49691.8398 - val_loss: 50394.1250 - val_mae: 50394.1250
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49405.9844 - mae: 49405.9844 - val_loss: 50389.5039 - val_mae: 50389.5039
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49287.3164 - mae: 49287.3164 - val_loss: 50387.8828 - val_mae: 50387.8828
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49093.8711 - mae: 49093.8711 - val_loss: 50382.6406 - val_mae: 50382.6406
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49583.9883 - mae: 49583.9883 - val_loss: 50379.1562 - val_mae: 50379.1562
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49230.5703 - mae: 49230.5703 - val_loss: 50381.3750 - val_mae: 50381.3750
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50162.6914 - mae: 50162.6914 - val_loss: 50372.3242 - val_mae: 50372.3242
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49045.2305 - mae: 49045.2305 - val_loss: 50379.1562 - val_mae: 50379.1562
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49485.2656 - mae: 49485.2656 - val_loss: 50388.6445 - val_mae: 50388.6445
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49258.4453 - mae: 49258.4453 - val_loss: 50390.6445 - val_mae: 50390.6445
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 48978.9805 - mae: 48978.9805 - val_loss: 50383.1094 - val_mae: 50383.1094
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50084.1211 - mae: 50084.1211 - val_loss: 50384.2305 - val_mae: 50384.2305
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49345.6758 - mae: 49345.6758 - val_loss: 50378.2812 - val_mae: 50378.2812
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 48839.3477 - mae: 48839.3477 - val_loss: 50391.2734 - val_mae: 50391.2734
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49343.9922 - mae: 49343.9922 - val_loss: 50389.8867 - val_mae: 50389.8867
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49374.2070 - mae: 49374.2070 - val_loss: 50388.4570 - val_mae: 50388.4570
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49058.0977 - mae: 49058.0977 - val_loss: 50377.8945 - val_mae: 50377.8945

In [24]:
%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 2916), started 0:00:15 ago. (Use '!kill 2916' to kill it.)

In [28]:
## Evaluate model on test data

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51137.6953 - mae: 51137.6953
Test MAE: 50372.32421875

In [29]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.